<html>
<div class="jumbotron">
   <%= image_tag "Healthylogo.png", size: "220x220", class: "mx-auto d-block", :alt => "avatar" %>

<h1 style="text-align:center;">Welcome to HealthyReview!</h1>
</div>

<div class="home-video-wrapper">
  
  <%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>

</div>
</html>