<h1>Welcome to whhatmyhealth!</h1>
<p>Giving you deets of the docs</p>

<div class="home-video-wrapper">
  <%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
  <%= image_tag 'Healthylogo.png' %>
</div>
