

.home_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 object-fit: cover;
 top: 0;
 z-index: -2;
}
body{
  background-color:#34b1eb;
}

.home-video-wrapper {
height:100vh;
display: flex;
}

h1.home {
  color: white;
}

div#center_login{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}